<html lang="ko">

<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        table {
            border-collapse: collapse;
            margin: auto;
        }

        td {
            padding: 10px;
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app">
        <table>
            <tr>
                <td v-for="b in b_size">
                    <p v-for="a in a_size">{{(b+1)}} * {{a}} = {{a*(b+1)}}</p>
                </td>
            </tr>
        </table>
    </div>

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                a_size: 9,
                b_size: 8
            }
        })
    </script>
</body>

</html>